.productsCard {

    display: flex;
    flex-direction: column;
    background: rgb(255, 255, 255);

    margin: 8px;
    height: 600px;
    width: 400px;
    border-radius: 2rem;
    border: 5px solid grey;
    color: gray;

    padding: 1rem;
    position: relative;
    overflow: auto;

}

.productsList {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    padding: 15px;

}

.productsImage {
    height: 200px;
    width: 200px;
    /* object-fit: cover; */
    padding-left: 25%;
    padding-bottom: 30px;
    margin-top: 25%;



}

.linkToProduct {
    align-items: center;
    text-decoration: none;
    color: gray;
}

.moreDetailsButton {
    padding: 20px;

    background-color: gray;
    color: white;
    width: 200px;
    margin: auto;
    border-radius: 10px;
    text-align: center;

}

.productsCard h2 {

    text-align: center;
}

.price {
    margin: auto;
}