.totalPrice {

    align-items: center;
    margin-top: 20px;
    margin-left: 35.7%;
    padding: 10px;
    background-color: white;
    width: 400px;
    text-align: center;
    border-radius: 15px;
    font-weight: bold;
    color: rgb(59, 58, 58);
    border: 2px solid #e94c3d;

}
.totalPrice:hover {
    background-color: #e94b3dbd ;
    color: white;
}