
 body {
  background-image: url("./Images/bg.jpg") ;
  background-size:contain;
  min-height: 100vh;
  display:block;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  

}
