.navBar {
    position: sticky;
    background-color: #e94c3d;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;


}

.menu {
    list-style: none;

    display: flex;
    justify-content: space-between;

}

.navLink {
    text-decoration: none;
    padding-left: 15px;
    font-weight: 600px;
    cursor: pointer;
    color: rgb(255, 255, 255);

}

.navLink:hover {
    color: rgb(44, 43, 43);
}

.navBar-logo {
    font-size: 2rem;

    margin: auto;
}